@import url('./reset.css');

/* Variáveis*/

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,#9b34ef 0%,#490cb0 20%,transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,#5516ba,rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

/*Body*/
body{
    background: var(--primary-color);
    background-size: cover;
}

/*Navbar*/
:where(.menu, .menu__btn){
    display: flex;
}

.menu{
    width: 100%;
    flex: row wrap;
    background: var(--nav-bg-color);
    justify-content: space-between;
    padding: 12px 16px;
    z-index: 1;
    position: fixed;
    top: 0;
}
  
.logo{
    max-width: 160px;
}
  
.logo-image{
    width: 100%;
}

.menu__btn{
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    margin: 0px 20px;
}

.menu__item{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    border: transparent;
}

.menu_item-2{
    padding: 8px 26px;
    background: var(--tertiary-color);
    border-radius: 50px;
    transition: background 1s, color 1s;
}

.menu_item-2:hover{
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

/*Header*/
.header{
    position: relative;
    width: 100%;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    margin-top: 55px;
    padding: 100px 0 300px;
    animation: gradient 10s ease infinite alternate;
}

.header::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.header__channels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 24px;
}

.span-1{
    display: block;
    font-size: 2.66rem;
    font-weight: 400;
}

.title-1{
    text-transform: uppercase;
    font-size: 4rem;
    max-width: 580px;
}

.divider{
    width: 90%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
    margin: 0;
}

.span-2{
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.span-3{
    font-size: 3.3rem;
}

.span-4{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}

.button{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    border: none;
    border-radius: 50px;
}

.header__button{
    padding: 15px 40px;
    font-size: 1.33rem;
}

.button--gradient{
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s;
    background-size: 250%;
}   

.button--gradient:hover{
    background-color: transparent;
    background-position: 100%;
    outline: 3px solid var(--secondary-color);
}

.wiggle{
    animation: wiggle 2.2s linear infinite;
}

.header__content p{
    font-size: 1.33rem;
    font-family: 'Quicksand', sans-serif;
    max-width: 300px;
}

/*Main*/
#section-1{
    margin: auto;
    width: 100%;
    background: url(../images/background-movies-series.png) no-repeat;
    background-size: cover;
}

.title-3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 50px;
    max-width: 1200px;
}

.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.main__plans{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 80px;
    position: relative;
    perspective: 2000px;
    perspective-origin: top;
}

.main__plans:has(.card:nth-child(1):hover)
  .card:nth-child(2) {
  transform: rotateY(-45deg);
}

.main__plans:has(.card:nth-child(2):hover)
  .card:nth-child(1) {
  transform: rotateY(45deg);
}

.card{
    display: flex;
    flex-direction: column;
    background: var(--card-bg-color);
    padding: 35px 58px;
    border-radius: 8px;
    min-height: 550px;
    max-width: 500px;
    text-align: center;
    position: relative;
    transition: transform 1s ease-in-out;
}

.card button{
    align-self: center;
    position: absolute;
    bottom: 15%;
}

.main__button{
    padding: 15px 60px;
    font-size: 1rem;
    text-align: center;   
}

.subscription__plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription__plan p:nth-child(1){
    font-size: 1.95rem;
    font-weight: 700;
}

.subscription__plan p:nth-child(2){
    font-size: 1.33rem;
}

.small-price{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.list{
    margin-top: 20px;
}

.list li{
    list-style: none;
    font-size: 1.5rem;
    margin-top: 16px;
    text-align: left;
}

.list li::marker{
    content: "+ ";
    font-size: 1.7rem;
}

.main__content-2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.contents__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.contents__image{
    max-width: 335px;
    max-height: 501px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, border 1s;
}

.main__image{
    border: 2px solid transparent;
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 1s;
}

.contents__image:hover{
    transform: scale(1.05);
    border: 2px solid var(--tertiary-color);
}

.contents__image:hover .main__image {
    opacity: 0;
}

.contents__image:nth-child(1):hover {
    background-image: url("../images/hbo-hover_0.webp");
}
  
.contents__image:nth-child(2):hover {
    background-image: url("../images/MAX-Hover.webp");
}
  
.contents__image:nth-child(3):hover {
    background-image: url("../images/DC-Hover.webp");
}
  
.contents__image:nth-child(4):hover {
    background-image: url("../images/WB-Hover.webp");
}
  
  
.contents__image:nth-child(5):hover {
    background-image: url("../images/CN-Hover.png");
}
  
.contents__image:nth-child(6):hover {
    background-image: url("../images/UCL-Hover.webp");
}

/*Footer*/
a{
    text-decoration: none;
}

.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.footer__title{
    display: flex;
    gap: 45px;
    justify-content: center;
    flex-flow: row wrap;
}

.footer__link{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 1.25rem;
    transition: color 1s;
}

.footer__link:hover {
    color: var(--text-color);
}

.footer__legal{
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.1px;
    margin: 16px 0;
    color: var(--link-color);
}

.footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.social{
    cursor: pointer;
}